PORT=3000
DATABASE_URL=postgres://postgres:YOUR_DATABASE_PASSWORD@localhost:5432/bearer_auth
SECRET=YOUR_GENERATED_SECRET

JWT_EXPIRATION_ENABLED=true
JWT_CONTEXT_ENABLED=true
JWT_ISSUER=bearer-auth
JWT_AUDIENCE=bearer-auth-client